.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 10px;
}

img.userInfo {
    width: 60px;
}

.user-icon-container {
    position: absolute;
    right:10px;
}