// TO DO: add navbar active color
.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 10px;
}

img.userInfo {
    width: 60px;
}

.user-icon-container {
    position: absolute;
    right:10px;
}

.btnLogin {
    color: white;
    font-weight: bolder;
    font-size: 24px;
    background-color: $tertiaryColor;
    margin: 5px;
}
