.shopDetailsSection{
    width: 35%;
}

.singleShopImg{
    border-radius: 50%;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
  transform: scale(1.03); 
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.shopForm{
    width: 60%;
}

#shops-container {
    margin-top: 5%;
}

.shopTitle {
    background-color: #000;
    color: #fff;
    float: left;
}

.overlay0 {
    background:#16292c;
}

.overlay1 {
    background: #dc3545;
}
.overlay2 {
    background: #0e1957;
}

.overlay3 {
    background: #5d0e23;
}
