// TO DO: fonts
.shopDetailsSection {
    align-self: flex-start;
    margin: 150px;
}

.singleShopImg {
    width: 350px;
    height: 350px;
    margin: auto;
}

p.shopDescription {
    font-size: 22px;
    // text-align: left;
}