// TO DO: fonts
.shopDetailsSection {
    align-self: flex-start;
    padding-left: 3rem;
}

.shopTitle {
    font-size: 55px;
}

.singleShopImg {
    width: 350px;
    height: 350px;
    margin: auto;
}

p.shopDescription {
    font-size: 28px;
    // text-align: left;
}