.productTitle{
    color: white;
    padding-top: 20px;
}

.productDescriptionSection {
    color: white;
}

.singleProductDescription {
    font-size: 28px;
    padding-bottom: 5px;
    margin: 0px;
}


.productPrice{
    font-size: 22px;
    padding-bottom: 10px;
}

.input::placeholder {
    color: black;
}