@import 'variables';
@import './components/';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {

} 

.btnPrimary {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    font-size: 20px;
    font-weight: bolder;
}

.btnPrimary:hover {
    color: white;
    background-color: $primaryColor;
}

.btnSecondary {
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
    font-size: 20px;
    font-weight: bolder;
    width: 100%
}

.btnSecondary:hover {
    color: white;
    background-color: $secondaryColor;
}
