@import 'variables';
@import './components/';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    color: white;
} 

.btnPrimary {
    border: 1px solid $primaryColor;
    color: $primaryColor;
    font-size: 20px;
    font-weight: bolder;
}

.btnPrimary:hover {
    color: white;
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
}

.btnSecondary {
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
    font-size: 20px;
    font-weight: bolder;
}

.btnSecondary:hover {
    color: white;
    border: 1px solid $secondaryColor;
    background-color: $secondaryColor;
}

.btnTertiary {
    border: 1px solid $tertiaryColor;
    color: $tertiaryColor;
    font-size: 20px;
    font-weight: bolder;
}

.btnTertiary:hover {
    color: white;
    border: 1px solid $tertiaryColor;
    background-color: $tertiaryColor;
}

.alertSuccess {
    background-color: $primaryColor;
    color:white;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;

}